# Домашка по питону

Для выполнения задания потребуется самому сгенерировать данные с помощью модуля random (все пункты выполняются с помощью нее).

Что необходимо, для создания будущей таблицы:

0) Для генерации данных в random необходимо установить seed = "АДВИ_2023", длина каждого списка N = 1000;

1) index колонка: создать список из N последовательных целых элементов от 1 до 1000 включительно, далее, с помощью специальной функции random перемешать его;

2) groups колонка: создать список из N элементов, состоящий из значений из списка ["группа_1", "группа_2", "группа_3", "группа_4", "группа_5"], необходимо использовать функцию из random которая возвращает список элементов длины k, выбранных из последовательности population с перестановкой элементов;

3) uniform колонка: создать список из N элементов, состоящий из целых значение из равномерного распределения [50, 100] ;

4) gauss_1, gauss_2, gauss_3 колонки: Создать 3 списка из N элементов каждый, заполненные значениями из нормальных распределений с параметрами:

﻿
�
=
0
,
�
2
=
1
μ=0,σ 
2
 =1﻿ -> третья колонка gauss_1;
﻿
�
=
0
,
�
2
=
144
μ=0,σ 
2
 =144﻿ -> четвертая колонка gauss_2;
﻿
�
=
50
,
�
2
=
81
μ=50,σ 
2
 =81﻿ -> пятая колонка gauss_3;
 
5) Создать pandas DataFrame, где (1) будет индексом, (2)-(4) колонки, названия колонок ["groups", "uniform", "gauss_1", "gauss_2", "gauss_3"] соответственно, не забывая проверить, что типы колонок должны соответствовать заявленным типам данных;

6) Для колонок gauss_1 и gauss_2 заменить значения на None:

* Для gauss_1, если индекс у значение делится на 121 без остатка;
* Для gauss_2, если дробная часть больше 0.95;

7) Теперь, для пропущенных значений gauss_1 и gauss_2:

Для gauss_2 None заменить на среднее по колонке;
Удалить строчки из таблицы, где gauss_1 == None.

## Генерация данных

In [235]:
import numpy as np
import pandas as pd
import random

In [236]:
random.seed("АДВИ_2023")

In [237]:
idx = list(range(1, 1001))
random.shuffle(idx)

In [238]:
groups = random.choices(["группа_1", "группа_2", "группа_3", "группа_4", "группа_5"], k=1000)

In [239]:
uniform = [random.randint(50, 100) for i in range(1000)]

In [240]:
gauss_1 = [random.gauss(mu=0, sigma=1) for i in range(1000)]

In [241]:
gauss_2 = [random.gauss(mu=0, sigma=12) for i in range(1000)]

In [242]:
gauss_3 = [random.gauss(mu=50, sigma=9) for i in range(1000)]

In [243]:
df = pd.DataFrame(data= {"groups": groups, "uniform": uniform, "gauss_1": gauss_1, "gauss_2" :gauss_2, "gauss_3": gauss_3},
                  index=np.array(idx))

In [244]:
df.loc[df.index % 121 == 0, 'gauss_1'] = None

In [245]:
df.loc[np.modf(df['gauss_2'])[0] > 0.95, 'gauss_2'] = None

In [246]:
val = np.nanmean(df['gauss_2'])
df['gauss_2'] = df['gauss_2'].fillna(value=val)

In [247]:
df.dropna(inplace=True)

In [248]:
df

       groups  uniform   gauss_1    gauss_2    gauss_3
476  группа_1       95  3.010291   2.156346  57.455851
315  группа_5       77  0.190277  -9.934550  62.694177
490  группа_4       96 -0.282161   9.211071  54.688895
748  группа_3       56  1.127080 -12.391793  30.192353
471  группа_5       52 -1.238270  10.938748  52.682052
..        ...      ...       ...        ...        ...
260  группа_4       57 -1.484164  -5.911598  49.330196
146  группа_4       78 -0.379041  -3.132954  60.329900
972  группа_1       52 -0.857206   0.835715  51.926114
161  группа_1       62 -0.195475   3.496498  66.310250
587  группа_5       60  0.093496  -9.164475  60.897843

[992 rows x 5 columns]

### Задание 1

Сколько всего получилось записей в таблице после выполнения всех пунктов из условия?

In [249]:
len(df)

992

### Задание 2

Для колонки gauss_2 посчитать среднее и среднеквадратическое отклонение.

In [250]:
df['gauss_2'].mean()

-0.47379908256312997

In [251]:
df['gauss_2'].std()

12.06996394390761

### Задание 3

Какая группа встречается чаще всего и сколько раз?

In [255]:
df['groups'].describe()

count          992
unique           5
top       группа_4
freq           222
Name: groups, dtype: object

In [258]:
df.groupby('groups').count()

          uniform  gauss_1  gauss_2  gauss_3
groups
группа_1      215      215      215      215
группа_2      194      194      194      194
группа_3      184      184      184      184
группа_4      222      222      222      222
группа_5      177      177      177      177

### Задание 4

 Для группа_5 вывести самый "ранний" (наименьший) индекс.

In [281]:
df.loc[df['groups'] == 'группа_5'].index.min()

6

In [282]:
df.loc[df['groups'] == 'группа_5'].sort_index()

        groups  uniform   gauss_1    gauss_2    gauss_3
6     группа_5       64  0.121862 -15.706344  37.264697
7     группа_5       79  0.789998  -1.125028  56.556745
18    группа_5       80  0.390384  -3.111324  57.699977
21    группа_5       95  0.434685   6.883961  40.440062
22    группа_5       70  2.189199 -23.722245  47.054641
...        ...      ...       ...        ...        ...
971   группа_5       80 -0.745116   0.449869  47.499498
978   группа_5       50  0.712819   3.428607  44.329374
989   группа_5       60  0.148515   2.928564  38.729513
997   группа_5       60  0.765711 -16.933376  33.617591
1000  группа_5       55  0.007151   5.734309  59.909507

[177 rows x 5 columns]

### Задание 5

Сколько записей из колонки uniform имеют значение не ниже значения 90% перцентиля?

In [291]:
len(df.loc[df['uniform'] >= np.percentile(df['uniform'], 90)])

118

### Задание 6

У какой группы наибольшее значение медианы для gauss_3?

In [305]:
df.groupby('groups')['gauss_3'].median().sort_values().index[-1]

'группа_2'

### Задание 7

У какой группы наибольшее минимальное значение uniform?

Если такого нет, выбрать группу наибольшим минимальным значением в gauss_1. 

Ответ дать в виде группы, через пробел указать значение в gauss_2 с аналогичной агрегацией

In [307]:
df.groupby('groups')['uniform'].min()

groups
группа_1    50
группа_2    50
группа_3    50
группа_4    50
группа_5    50
Name: uniform, dtype: int64

In [314]:
df.groupby('groups')['gauss_1'].min().sort_values().index[-1]

'группа_3'

In [318]:
df.groupby('groups')['gauss_2'].min()[df.groupby('groups')['gauss_1'].min().sort_values().index[-1]]

-36.18751957608629

### Задание 8

Создать новую колонку gauss где значения будут получаться из (gauss_1 + gauss_2) / gauss_3

Чему будет равен 70% перцентиль (результат округлить до сотых, для дробной части использовать точку, как разделитель)?

In [319]:
df['gauss'] = (df.gauss_1 + df.gauss_2) / df.gauss_3
df

       groups  uniform   gauss_1    gauss_2    gauss_3     gauss
476  группа_1       95  3.010291   2.156346  57.455851  0.089924
315  группа_5       77  0.190277  -9.934550  62.694177 -0.155425
490  группа_4       96 -0.282161   9.211071  54.688895  0.163267
748  группа_3       56  1.127080 -12.391793  30.192353 -0.373098
471  группа_5       52 -1.238270  10.938748  52.682052  0.184133
..        ...      ...       ...        ...        ...       ...
260  группа_4       57 -1.484164  -5.911598  49.330196 -0.149924
146  группа_4       78 -0.379041  -3.132954  60.329900 -0.058213
972  группа_1       52 -0.857206   0.835715  51.926114 -0.000414
161  группа_1       62 -0.195475   3.496498  66.310250  0.049781
587  группа_5       60  0.093496  -9.164475  60.897843 -0.148954

[992 rows x 6 columns]

In [320]:
np.percentile(df['gauss'], 70)

0.10641825158661447